// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";

.height-parent {
  height: 100%;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
