<!-- Your footer code -->
<footer>
  <div class="wrapper-dark-grey footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="footer-social height-parent vertical-center">
            <a href="#"><i class="footer-icon fa fa-youtube fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="footer-icon fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="footer-icon fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="#"><i class="footer-icon fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="text-right height-parent vertical-center horizontal-right">
            This is a Airbnb Home challenge @ LeWagon
          </div>
        </div>
      </div>
    </div>
  </div>
