<div class="text-center wrapper-white padded">
  <h1>Our team</h1>
  <ul class="list-inline">
    <div class="container">
      <div class="row">
        <% data.team.each do |owner, info| %>
        <li>
          <div class="col-xs-6 col-sm-4">
            <div class="card-team-member">
              <h2><%= info.name.capitalize %></h2>
              <%= image_tag info.picture, class: "img-circle avatar avatar-lg avatar-bordered" %>
            </div>
          </div>
        </li>
        <% end %>
      </div>
    </div>
  </ul>
  <div class="padded">
    <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>
    <% link_to "#" do %>
      contact@airbnb.com
    <% end %>
  </div>
</div>
